In [1]:
# import scraping dependencies
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
# set up splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# define and visit url
url = 'https://www.footballoutsiders.com/stats/nfl/pace-stats/2022?check_logged_in=1'
browser.visit(url)

In [4]:
# define user info
username = 'davidgornowicz@gmail.com'
password = 'teampassword'

In [5]:
# find and fill username
username_box = browser.find_by_id('edit-name')
username_box.fill(username)

In [6]:
# find and fill password
password_box = browser.find_by_id('edit-pass')
password_box.fill(password)

In [7]:
# find and click login button
submit = browser.find_by_id('edit-submit').click()

In [8]:
# not working plan b
dwnld_csv_bttn = browser.find_by_text('new-table-csv-download-image').click()

ElementDoesNotExist: no elements could be found with text "new-table-csv-download-image"

In [9]:
# download the html to scrape
html = browser.html
html_soup = soup(html, 'html.parser')

In [10]:
# select the table
offense_table = html_soup.find_all('table')[0]
offense_table

<table class="new-table responsive-enabled" data-once="tableresponsive" data-striping="1" style="margin-left: -42px;">
<thead>
<tr>
<th>Team</th>
<th colspan="2">Sec/Play<br/>(total)</th>
<th colspan="2">Sec/Play<br/>(1st half)</th>
<th colspan="2">Sec/Play<br/>(2nd half)</th>
<th colspan="2">Sec/Play<br/>(lead 7+)</th>
<th colspan="2">Sec/Play<br/>(+/- 6)</th>
<th colspan="2">Sec/Play<br/>(trail 7+)</th>
<th colspan="2">Sec/Play<br/>(situation<br/>neutral)</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><a href="/team/TB">TB</a></td>
<td class="new-table-left-joined">1</td>
<td class="new-table-right-joined">24.93</td>
<td class="new-table-left-joined">3</td>
<td class="new-table-right-joined">26.28</td>
<td class="new-table-left-joined">1</td>
<td class="new-table-right-joined">23.66</td>
<td class="new-table-left-joined">3</td>
<td class="new-table-right-joined">22.56</td>
<td class="new-table-left-joined">16</td>
<td class="new-table-right-joined">29.00</td>
<td class="new-table-left-joined">3</td>
<td class="new-table-right-joined">21.07</td>
<td class="new-table-left-joined">4</td>
<td class="new-table-right-joined">29.39</td>
</tr>
<tr class="even">
<td><a href="/team/LAC">LAC</a></td>
<td class="new-table-left-joined">2</td>
<td class="new-table-right-joined">25.90</td>
<td class="new-table-left-joined">4</td>
<td class="new-table-right-joined">26.32</td>
<td class="new-table-left-joined">3</td>
<td class="new-table-right-joined">25.51</td>
<td class="new-table-left-joined">11</td>
<td class="new-table-right-joined">28.33</td>
<td class="new-table-left-joined">7</td>
<td class="new-table-right-joined">27.40</td>
<td class="new-table-left-joined">4</td>
<td class="new-table-right-joined">22.30</td>
<td class="new-table-left-joined">1</td>
<td class="new-table-right-joined">28.68</td>
</tr>
<tr class="odd">
<td><a href="/team/NYJ">NYJ</a></td>
<td class="new-table-left-joined">3</td>
<td class="new-table-right-joined">26.19</td>
<td class="new-table-left-joined">10</td>
<td class="new-table-right-joined">27.23</td>
<td class="new-table-left-joined">2</td>
<td class="new-table-right-joined">25.20</td>
<td class="new-table-left-joined">5</td>
<td class="new-table-right-joined">24.68</td>
<td class="new-table-left-joined">13</td>
<td class="new-table-right-joined">28.77</td>
<td class="new-table-left-joined">6</td>
<td class="new-table-right-joined">23.05</td>
<td class="new-table-left-joined">12</td>
<td class="new-table-right-joined">30.41</td>
</tr>
<tr class="even">
<td><a href="/team/ARI">ARI</a></td>
<td class="new-table-left-joined">4</td>
<td class="new-table-right-joined">26.29</td>
<td class="new-table-left-joined">8</td>
<td class="new-table-right-joined">27.06</td>
<td class="new-table-left-joined">5</td>
<td class="new-table-right-joined">25.68</td>
<td class="new-table-left-joined">26</td>
<td class="new-table-right-joined">31.07</td>
<td class="new-table-left-joined">22</td>
<td class="new-table-right-joined">29.55</td>
<td class="new-table-left-joined">10</td>
<td class="new-table-right-joined">24.58</td>
<td class="new-table-left-joined">21</td>
<td class="new-table-right-joined">31.60</td>
</tr>
<tr class="odd">
<td><a href="/team/BUF">BUF</a></td>
<td class="new-table-left-joined">5</td>
<td class="new-table-right-joined">26.51</td>
<td class="new-table-left-joined">1</td>
<td class="new-table-right-joined">25.84</td>
<td class="new-table-left-joined">14</td>
<td class="new-table-right-joined">27.24</td>
<td class="new-table-left-joined">9</td>
<td class="new-table-right-joined">27.34</td>
<td class="new-table-left-joined">5</td>
<td class="new-table-right-joined">27.21</td>
<td class="new-table-left-joined">2</td>
<td class="new-table-right-joined">19.85</td>
<td class="new-table-left-joined">5</td>
<td class="new-table-right-joined">29.63</td>
</tr>
<tr class="even">
<td><a href="/team/MIN">MIN</a></td>
<td class="new-table-left-joined">6</td>
<td class="new-table-right-joined">26.56</td>
<td class="new-table-left-joined">6</td>
<td class="new-table-right-joined">26.78</td>
<td class="new-table-left-joined">8</td>
<td class="new-table-right-joined">26.32</td>
<td class="new-table-left-joined">10</td>
<td class="new-table-right-joined">28.32</td>
<td class="new-table-left-joined">1</td>
<td class="new-table-right-joined">26.10</td>
<td class="new-table-left-joined">13</td>
<td class="new-table-right-joined">25.67</td>
<td class="new-table-left-joined">6</td>
<td class="new-table-right-joined">29.88</td>
</tr>
<tr class="odd">
<td><a href="/team/DET">DET</a></td>
<td class="new-table-left-joined">7</td>
<td class="new-table-right-joined">26.73</td>
<td class="new-table-left-joined">14</td>
<td class="new-table-right-joined">27.74</td>
<td class="new-table-left-joined">4</td>
<td class="new-table-right-joined">25.62</td>
<td class="new-table-left-joined">4</td>
<td class="new-table-right-joined">24.50</td>
<td class="new-table-left-joined">27</td>
<td class="new-table-right-joined">30.40</td>
<td class="new-table-left-joined">7</td>
<td class="new-table-right-joined">23.79</td>
<td class="new-table-left-joined">14</td>
<td class="new-table-right-joined">30.75</td>
</tr>
<tr class="even">
<td><a href="/team/DAL">DAL</a></td>
<td class="new-table-left-joined">8</td>
<td class="new-table-right-joined">26.90</td>
<td class="new-table-left-joined">5</td>
<td class="new-table-right-joined">26.60</td>
<td class="new-table-left-joined">13</td>
<td class="new-table-right-joined">27.21</td>
<td class="new-table-left-joined">6</td>
<td class="new-table-right-joined">25.71</td>
<td class="new-table-left-joined">12</td>
<td class="new-table-right-joined">28.60</td>
<td class="new-table-left-joined">8</td>
<td class="new-table-right-joined">23.87</td>
<td class="new-table-left-joined">3</td>
<td class="new-table-right-joined">29.38</td>
</tr>
<tr class="odd">
<td><a href="/team/IND">IND</a></td>
<td class="new-table-left-joined">9</td>
<td class="new-table-right-joined">27.29</td>
<td class="new-table-left-joined">13</td>
<td class="new-table-right-joined">27.71</td>
<td class="new-table-left-joined">10</td>
<td class="new-table-right-joined">26.88</td>
<td class="new-table-left-joined">30</td>
<td class="new-table-right-joined">32.17</td>
<td class="new-table-left-joined">3</td>
<td class="new-table-right-joined">26.80</td>
<td class="new-table-left-joined">24</td>
<td class="new-table-right-joined">27.69</td>
<td class="new-table-left-joined">9</td>
<td class="new-table-right-joined">30.09</td>
</tr>
<tr class="even">
<td><a href="/team/CAR">CAR</a></td>
<td class="new-table-left-joined">10</td>
<td class="new-table-right-joined">27.49</td>
<td class="new-table-left-joined">18</td>
<td class="new-table-right-joined">28.46</td>
<td class="new-table-left-joined">9</td>
<td class="new-table-right-joined">26.46</td>
<td class="new-table-left-joined">27</td>
<td class="new-table-right-joined">32.08</td>
<td class="new-table-left-joined">2</td>
<td class="new-table-right-joined">26.50</td>
<td class="new-table-left-joined">17</td>
<td class="new-table-right-joined">26.31</td>
<td class="new-table-left-joined">8</td>
<td class="new-table-right-joined">30.08</td>
</tr>
<tr class="odd">
<td><a href="/team/PIT">PIT</a></td>
<td class="new-table-left-joined">11</td>
<td class="new-table-right-joined">27.53</td>
<td class="new-table-left-joined">22</td>
<td class="new-table-right-joined">29.08</td>
<td class="new-table-left-joined">6</td>
<td class="new-table-right-joined">26.09</td>
<td class="new-table-left-joined">25</td>
<td class="new-table-right-joined">31.06</td>
<td class="new-table-left-joined">9</td>
<td class="new-table-right-joined">27.84</td>
<td class="new-table-left-joined">20</td>
<td class="new-table-right-joined">26.92</td>
<td class="new-table-left-joined">25</td>
<td class="new-table-right-joined">32.09</td>
</tr>
<tr class="even">
<td><a href="/team/NO">NO</a></td>
<td class="new-table-left-joined">12</td>
<td class="new-table-right-joined">27.54</td>
<td class="new-table-left-joined">20</td>
<td class="new-table-right-joined">29.02</td>
<td class="new-table-left-joined">7</td>
<td class="new-table-right-joined">26.28</td>
<td class="new-table-left-joined">16</td>
<td class="new-table-right-joined">28.97</td>
<td class="new-table-left-joined">15</td>
<td class="new-table-right-joined">28.96</td>
<td class="new-table-left-joined">11</td>
<td class="new-table-right-joined">24.84</td>
<td class="new-table-left-joined">26</td>
<td class="new-table-right-joined">32.33</td>
</tr>
<tr class="odd">
<td><a href="/team/KC">KC</a></td>
<td class="new-table-left-joined">13</td>
<td class="new-table-right-joined">27.71</td>
<td class="new-table-left-joined">7</td>
<td class="new-table-right-joined">26.97</td>
<td class="new-table-left-joined">17</td>
<td class="new-table-right-joined">28.47</td>
<td class="new-table-left-joined">15</td>
<td class="new-table-right-joined">28.95</td>
<td class="new-table-left-joined">4</td>
<td class="new-table-right-joined">27.21</td>
<td class="new-table-left-joined">21</td>
<td class="new-table-right-joined">26.99</td>
<td class="new-table-left-joined">7</td>
<td class="new-table-right-joined">29.96</td>
</tr>
<tr class="even">
<td><a href="/team/SEA">SEA</a></td>
<td class="new-table-left-joined">14</td>
<td class="new-table-right-joined">27.96</td>
<td class="new-table-left-joined">9</td>
<td class="new-table-right-joined">27.14</td>
<td class="new-table-left-joined">22</td>
<td class="new-table-right-joined">28.94</td>
<td class="new-table-left-joined">14</td>
<td class="new-table-right-joined">28.51</td>
<td class="new-table-left-joined">11</td>
<td class="new-table-right-joined">28.33</td>
<td class="new-table-left-joined">12</td>
<td class="new-table-right-joined">25.02</td>
<td class="new-table-left-joined">13</td>
<td class="new-table-right-joined">30.70</td>
</tr>
<tr class="odd">
<td><a href="/team/JAX">JAX</a></td>
<td class="new-table-left-joined">15</td>
<td class="new-table-right-joined">27.97</td>
<td class="new-table-left-joined">12</td>
<td class="new-table-right-joined">27.49</td>
<td class="new-table-left-joined">16</td>
<td class="new-table-right-joined">28.45</td>
<td class="new-table-left-joined">31</td>
<td class="new-table-right-joined">33.43</td>
<td class="new-table-left-joined">8</td>
<td class="new-table-right-joined">27.81</td>
<td class="new-table-left-joined">1</td>
<td class="new-table-right-joined">18.20</td>
<td class="new-table-left-joined">11</td>
<td class="new-table-right-joined">30.20</td>
</tr>
<tr class="even">
<td><a href="/team/DEN">DEN</a></td>
<td class="new-table-left-joined">16</td>
<td class="new-table-right-joined">28.04</td>
<td class="new-table-left-joined">11</td>
<td class="new-table-right-joined">27.43</td>
<td class="new-table-left-joined">18</td>
<td class="new-table-right-joined">28.59</td>
<td class="new-table-left-joined">1</td>
<td class="new-table-right-joined">9.67</td>
<td class="new-table-left-joined">17</td>
<td class="new-table-right-joined">29.04</td>
<td class="new-table-left-joined">9</td>
<td class="new-table-right-joined">24.03</td>
<td class="new-table-left-joined">16</td>
<td class="new-table-right-joined">30.97</td>
</tr>
<tr class="odd">
<td><a href="/team/CLE">CLE</a></td>
<td class="new-table-left-joined">17</td>
<td class="new-table-right-joined">28.11</td>
<td class="new-table-left-joined">23</td>
<td class="new-table-right-joined">29.34</td>
<td class="new-table-left-joined">12</td>
<td class="new-table-right-joined">26.94</td>
<td class="new-table-left-joined">18</td>
<td class="new-table-right-joined">29.47</td>
<td class="new-table-left-joined">14</td>
<td class="new-table-right-joined">28.87</td>
<td class="new-table-left-joined">5</td>
<td class="new-table-right-joined">22.69</td>
<td class="new-table-left-joined">24</td>
<td class="new-table-right-joined">32.04</td>
</tr>
<tr class="even">
<td><a href="/team/WAS">WAS</a></td>
<td class="new-table-left-joined">18</td>
<td class="new-table-right-joined">28.20</td>
<td class="new-table-left-joined">28</td>
<td class="new-table-right-joined">29.93</td>
<td class="new-table-left-joined">11</td>
<td class="new-table-right-joined">26.94</td>
<td class="new-table-left-joined">23</td>
<td class="new-table-right-joined">30.88</td>
<td class="new-table-left-joined">23</td>
<td class="new-table-right-joined">29.61</td>
<td class="new-table-left-joined">14</td>
<td class="new-table-right-joined">25.75</td>
<td class="new-table-left-joined">30</td>
<td class="new-table-right-joined">33.28</td>
</tr>
<tr class="odd">
<td><a href="/team/PHI">PHI</a></td>
<td class="new-table-left-joined">19</td>
<td class="new-table-right-joined">28.32</td>
<td class="new-table-left-joined">2</td>
<td class="new-table-right-joined">26.05</td>
<td class="new-table-left-joined">31</td>
<td class="new-table-right-joined">31.40</td>
<td class="new-table-left-joined">12</td>
<td class="new-table-right-joined">28.40</td>
<td class="new-table-left-joined">6</td>
<td class="new-table-right-joined">27.31</td>
<td class="new-table-left-joined">32</td>
<td class="new-table-right-joined">31.54</td>
<td class="new-table-left-joined">2</td>
<td class="new-table-right-joined">28.95</td>
</tr>
<tr class="even">
<td><a href="/team/LV">LV</a></td>
<td class="new-table-left-joined">20</td>
<td class="new-table-right-joined">28.41</td>
<td class="new-table-left-joined">24</td>
<td class="new-table-right-joined">29.55</td>
<td class="new-table-left-joined">15</td>
<td class="new-table-right-joined">27.29</td>
<td class="new-table-left-joined">7</td>
<td class="new-table-right-joined">26.45</td>
<td class="new-table-left-joined">26</td>
<td class="new-table-right-joined">30.03</td>
<td class="new-table-left-joined">23</td>
<td class="new-table-right-joined">27.35</td>
<td class="new-table-left-joined">23</td>
<td class="new-table-right-joined">31.85</td>
</tr>
<tr class="odd">
<td><a href="/team/HOU">HOU</a></td>
<td class="new-table-left-joined">21</td>
<td class="new-table-right-joined">28.60</td>
<td class="new-table-left-joined">19</td>
<td class="new-table-right-joined">28.53</td>
<td class="new-table-left-joined">19</td>
<td class="new-table-right-joined">28.67</td>
<td class="new-table-left-joined">8</td>
<td class="new-table-right-joined">27.00</td>
<td class="new-table-left-joined">25</td>
<td class="new-table-right-joined">29.80</td>
<td class="new-table-left-joined">16</td>
<td class="new-table-right-joined">26.10</td>
<td class="new-table-left-joined">10</td>
<td class="new-table-right-joined">30.13</td>
</tr>
<tr class="even">
<td><a href="/team/MIA">MIA</a></td>
<td class="new-table-left-joined">22</td>
<td class="new-table-right-joined">28.78</td>
<td class="new-table-left-joined">17</td>
<td class="new-table-right-joined">28.43</td>
<td class="new-table-left-joined">23</td>
<td class="new-table-right-joined">29.16</td>
<td class="new-table-left-joined">13</td>
<td class="new-table-right-joined">28.48</td>
<td class="new-table-left-joined">19</td>
<td class="new-table-right-joined">29.33</td>
<td class="new-table-left-joined">25</td>
<td class="new-table-right-joined">28.26</td>
<td class="new-table-left-joined">22</td>
<td class="new-table-right-joined">31.71</td>
</tr>
<tr class="odd">
<td><a href="/team/CIN">CIN</a></td>
<td class="new-table-left-joined">23</td>
<td class="new-table-right-joined">28.87</td>
<td class="new-table-left-joined">15</td>
<td class="new-table-right-joined">27.97</td>
<td class="new-table-left-joined">25</td>
<td class="new-table-right-joined">29.72</td>
<td class="new-table-left-joined">17</td>
<td class="new-table-right-joined">29.46</td>
<td class="new-table-left-joined">10</td>
<td class="new-table-right-joined">28.01</td>
<td class="new-table-left-joined">30</td>
<td class="new-table-right-joined">29.55</td>
<td class="new-table-left-joined">17</td>
<td class="new-table-right-joined">31.00</td>
</tr>
<tr class="even">
<td><a href="/team/NYG">NYG</a></td>
<td class="new-table-left-joined">24</td>
<td class="new-table-right-joined">28.89</td>
<td class="new-table-left-joined">21</td>
<td class="new-table-right-joined">29.05</td>
<td class="new-table-left-joined">20</td>
<td class="new-table-right-joined">28.77</td>
<td class="new-table-left-joined">2</td>
<td class="new-table-right-joined">18.17</td>
<td class="new-table-left-joined">20</td>
<td class="new-table-right-joined">29.34</td>
<td class="new-table-left-joined">28</td>
<td class="new-table-right-joined">28.74</td>
<td class="new-table-left-joined">20</td>
<td class="new-table-right-joined">31.59</td>
</tr>
<tr class="odd">
<td><a href="/team/CHI">CHI</a></td>
<td class="new-table-left-joined">25</td>
<td class="new-table-right-joined">29.04</td>
<td class="new-table-left-joined">16</td>
<td class="new-table-right-joined">28.40</td>
<td class="new-table-left-joined">26</td>
<td class="new-table-right-joined">29.72</td>
<td class="new-table-left-joined">29</td>
<td class="new-table-right-joined">32.16</td>
<td class="new-table-left-joined">18</td>
<td class="new-table-right-joined">29.07</td>
<td class="new-table-left-joined">27</td>
<td class="new-table-right-joined">28.39</td>
<td class="new-table-left-joined">15</td>
<td class="new-table-right-joined">30.88</td>
</tr>
<tr class="even">
<td><a href="/team/LAR">LAR</a></td>
<td class="new-table-left-joined">26</td>
<td class="new-table-right-joined">29.56</td>
<td class="new-table-left-joined">30</td>
<td class="new-table-right-joined">30.32</td>
<td class="new-table-left-joined">21</td>
<td class="new-table-right-joined">28.82</td>
<td class="new-table-left-joined">19</td>
<td class="new-table-right-joined">29.73</td>
<td class="new-table-left-joined">31</td>
<td class="new-table-right-joined">31.79</td>
<td class="new-table-left-joined">18</td>
<td class="new-table-right-joined">26.46</td>
<td class="new-table-left-joined">31</td>
<td class="new-table-right-joined">33.32</td>
</tr>
<tr class="odd">
<td><a href="/team/NE">NE</a></td>
<td class="new-table-left-joined">27</td>
<td class="new-table-right-joined">29.66</td>
<td class="new-table-left-joined">27</td>
<td class="new-table-right-joined">29.80</td>
<td class="new-table-left-joined">24</td>
<td class="new-table-right-joined">29.53</td>
<td class="new-table-left-joined">20</td>
<td class="new-table-right-joined">29.77</td>
<td class="new-table-left-joined">29</td>
<td class="new-table-right-joined">30.59</td>
<td class="new-table-left-joined">22</td>
<td class="new-table-right-joined">27.28</td>
<td class="new-table-left-joined">18</td>
<td class="new-table-right-joined">31.39</td>
</tr>
<tr class="even">
<td><a href="/team/SF">SF</a></td>
<td class="new-table-left-joined">28</td>
<td class="new-table-right-joined">29.73</td>
<td class="new-table-left-joined">25</td>
<td class="new-table-right-joined">29.59</td>
<td class="new-table-left-joined">29</td>
<td class="new-table-right-joined">29.86</td>
<td class="new-table-left-joined">24</td>
<td class="new-table-right-joined">30.94</td>
<td class="new-table-left-joined">30</td>
<td class="new-table-right-joined">31.12</td>
<td class="new-table-left-joined">15</td>
<td class="new-table-right-joined">26.06</td>
<td class="new-table-left-joined">27</td>
<td class="new-table-right-joined">32.47</td>
</tr>
<tr class="odd">
<td><a href="/team/GB">GB</a></td>
<td class="new-table-left-joined">29</td>
<td class="new-table-right-joined">29.76</td>
<td class="new-table-left-joined">26</td>
<td class="new-table-right-joined">29.71</td>
<td class="new-table-left-joined">28</td>
<td class="new-table-right-joined">29.81</td>
<td class="new-table-left-joined">28</td>
<td class="new-table-right-joined">32.10</td>
<td class="new-table-left-joined">24</td>
<td class="new-table-right-joined">29.79</td>
<td class="new-table-left-joined">26</td>
<td class="new-table-right-joined">28.37</td>
<td class="new-table-left-joined">28</td>

In [11]:
# EXPERIMENTAL seperating td into own list
offense_table_list = offense_table.find_all(['td'], class_='new-table-right-joined')
offense_table_list

[<td class="new-table-right-joined">24.93</td>,
 <td class="new-table-right-joined">26.28</td>,
 <td class="new-table-right-joined">23.66</td>,
 <td class="new-table-right-joined">22.56</td>,
 <td class="new-table-right-joined">29.00</td>,
 <td class="new-table-right-joined">21.07</td>,
 <td class="new-table-right-joined">29.39</td>,
 <td class="new-table-right-joined">25.90</td>,
 <td class="new-table-right-joined">26.32</td>,
 <td class="new-table-right-joined">25.51</td>,
 <td class="new-table-right-joined">28.33</td>,
 <td class="new-table-right-joined">27.40</td>,
 <td class="new-table-right-joined">22.30</td>,
 <td class="new-table-right-joined">28.68</td>,
 <td class="new-table-right-joined">26.19</td>,
 <td class="new-table-right-joined">27.23</td>,
 <td class="new-table-right-joined">25.20</td>,
 <td class="new-table-right-joined">24.68</td>,
 <td class="new-table-right-joined">28.77</td>,
 <td class="new-table-right-joined">23.05</td>,
 <td class="new-table-right-joined">30.41</td>,
 <td class="new-table-right-joined">26.29</td>,
 <td class="new-table-right-joined">27.06</td>,
 <td class="new-table-right-joined">25.68</td>,
 <td class="new-table-right-joined">31.07</td>,
 <td class="new-table-right-joined">29.55</td>,
 <td class="new-table-right-joined">24.58</td>,
 <td class="new-table-right-joined">31.60</td>,
 <td class="new-table-right-joined">26.51</td>,
 <td class="new-table-right-joined">25.84</td>,
 <td class="new-table-right-joined">27.24</td>,
 <td class="new-table-right-joined">27.34</td>,
 <td class="new-table-right-joined">27.21</td>,
 <td class="new-table-right-joined">19.85</td>,
 <td class="new-table-right-joined">29.63</td>,
 <td class="new-table-right-joined">26.56</td>,
 <td class="new-table-right-joined">26.78</td>,
 <td class="new-table-right-joined">26.32</td>,
 <td class="new-table-right-joined">28.32</td>,
 <td class="new-table-right-joined">26.10</td>,
 <td class="new-table-right-joined">25.67</td>,
 <td class="new-table-right-joined">29.88</td>,
 <td class="new-table-right-joined">26.73</td>,
 <td class="new-table-right-joined">27.74</td>,
 <td class="new-table-right-joined">25.62</td>,
 <td class="new-table-right-joined">24.50</td>,
 <td class="new-table-right-joined">30.40</td>,
 <td class="new-table-right-joined">23.79</td>,
 <td class="new-table-right-joined">30.75</td>,
 <td class="new-table-right-joined">26.90</td>,
 <td class="new-table-right-joined">26.60</td>,
 <td class="new-table-right-joined">27.21</td>,
 <td class="new-table-right-joined">25.71</td>,
 <td class="new-table-right-joined">28.60</td>,
 <td class="new-table-right-joined">23.87</td>,
 <td class="new-table-right-joined">29.38</td>,
 <td class="new-table-right-joined">27.29</td>,
 <td class="new-table-right-joined">27.71</td>,
 <td class="new-table-right-joined">26.88</td>,
 <td class="new-table-right-joined">32.17</td>,
 <td class="new-table-right-joined">26.80</td>,
 <td class="new-table-right-joined">27.69</td>,
 <td class="new-table-right-joined">30.09</td>,
 <td class="new-table-right-joined">27.49</td>,
 <td class="new-table-right-joined">28.46</td>,
 <td class="new-table-right-joined">26.46</td>,
 <td class="new-table-right-joined">32.08</td>,
 <td class="new-table-right-joined">26.50</td>,
 <td class="new-table-right-joined">26.31</td>,
 <td class="new-table-right-joined">30.08</td>,
 <td class="new-table-right-joined">27.53</td>,
 <td class="new-table-right-joined">29.08</td>,
 <td class="new-table-right-joined">26.09</td>,
 <td class="new-table-right-joined">31.06</td>,
 <td class="new-table-right-joined">27.84</td>,
 <td class="new-table-right-joined">26.92</td>,
 <td class="new-table-right-joined">32.09</td>,
 <td class="new-table-right-joined">27.54</td>,
 <td class="new-table-right-joined">29.02</td>,
 <td class="new-table-right-joined">26.28</td>,
 <td class="new-table-right-joined">28.97</td>,
 <td class="new-table-right-joined">28.96</td>,
 <td class="new-table-right-joined">24.84</td>,
 <td class="new-table-right-joined">32.33</td>,
 <td class="new-table-right-joined">27.71</td>,
 <td class="new-table-right-joined">26.97</td>,
 <td class="new-table-right-joined">28.47</td>,
 <td class="new-table-right-joined">28.95</td>,
 <td class="new-table-right-joined">27.21</td>,
 <td class="new-table-right-joined">26.99</td>,
 <td class="new-table-right-joined">29.96</td>,
 <td class="new-table-right-joined">27.96</td>,
 <td class="new-table-right-joined">27.14</td>,
 <td class="new-table-right-joined">28.94</td>,
 <td class="new-table-right-joined">28.51</td>,
 <td class="new-table-right-joined">28.33</td>,
 <td class="new-table-right-joined">25.02</td>,
 <td class="new-table-right-joined">30.70</td>,
 <td class="new-table-right-joined">27.97</td>,
 <td class="new-table-right-joined">27.49</td>,
 <td class="new-table-right-joined">28.45</td>,
 <td class="new-table-right-joined">33.43</td>,
 <td class="new-table-right-joined">27.81</td>,
 <td class="new-table-right-joined">18.20</td>,
 <td class="new-table-right-joined">30.20</td>,
 <td class="new-table-right-joined">28.04</td>,
 <td class="new-table-right-joined">27.43</td>,
 <td class="new-table-right-joined">28.59</td>,
 <td class="new-table-right-joined">9.67</td>,
 <td class="new-table-right-joined">29.04</td>,
 <td class="new-table-right-joined">24.03</td>,
 <td class="new-table-right-joined">30.97</td>,
 <td class="new-table-right-joined">28.11</td>,
 <td class="new-table-right-joined">29.34</td>,
 <td class="new-table-right-joined">26.94</td>,
 <td class="new-table-right-joined">29.47</td>,
 <td class="new-table-right-joined">28.87</td>,
 <td class="new-table-right-joined">22.69</td>,
 <td class="new-table-right-joined">32.04</td>,
 <td class="new-table-right-joined">28.20</td>,
 <td class="new-table-right-joined">29.93</td>,
 <td class="new-table-right-joined">26.94</td>,
 <td class="new-table-right-joined">30.88</td>,
 <td class="new-table-right-joined">29.61</td>,
 <td class="new-table-right-joined">25.75</td>,
 <td class="new-table-right-joined">33.28</td>,
 <td class="new-table-right-joined">28.32</td>,
 <td class="new-table-right-joined">26.05</td>,
 <td class="new-table-right-joined">31.40</td>,
 <td class="new-table-right-joined">28.40</td>,
 <td class="new-table-right-joined">27.31</td>,
 <td class="new-table-right-joined">31.54</td>,
 <td class="new-table-right-joined">28.95</td>,
 <td class="new-table-right-joined">28.41</td>,
 <td class="new-table-right-joined">29.55</td>,
 <td class="new-table-right-joined">27.29</td>,
 <td class="new-table-right-joined">26.45</td>,
 <td class="new-table-right-joined">30.03</td>,
 <td class="new-table-right-joined">27.35</td>,
 <td class="new-table-right-joined">31.85</td>,
 <td class="new-table-right-joined">28.60</td>,
 <td class="new-table-right-joined">28.53</td>,
 <td class="new-table-right-joined">28.67</td>,
 <td class="new-table-right-joined">27.00</td>,
 <td class="new-table-right-joined">29.80</td>,
 <td class="new-table-right-joined">26.10</td>,
 <td class="new-table-right-joined">30.13</td>,
 <td class="new-table-right-joined">28.78</td>,
 <td class="new-table-right-joined">28.43</td>,
 <td class="new-table-right-joined">29.16</td>,
 <td class="new-table-right-joined">28.48</td>,
 <td class="new-table-right-joined">29.33</td>,
 <td class="new-table-right-joined">28.26</td>,
 <td class="new-table-right-joined">31.71</td>,
 <td class="new-table-right-joined">28.87</td>,
 <td class="new-table-right-joined">27.97</td>,
 <td class="new-table-right-joined">29.72</td>,
 <td class="new-table-right-joined">29.46</td>,
 <td class="new-table-right-joined">28.01</td>,
 <td class="new-table-right-joined">29.55</td>,
 <td class="new-table-right-joined">31.00</td>,
 <td class="new-table-right-joined">28.89</td>,
 <td class="new-table-right-joined">29.05</td>,
 <td class="new-table-right-joined">28.77</td>,
 <td class="new-table-right-joined">18.17</td>,
 <td class="new-table-right-joined">29.34</td>,
 <td class="new-table-right-joined">28.74</td>,
 <td class="new-table-right-joined">31.59</td>,
 <td class="new-table-right-joined">29.04</td>,
 <td class="new-table-right-joined">28.40</td>,
 <td class="new-table-right-joined">29.72</td>,
 <td class="new-table-right-joined">32.16</td>,
 <td class="new-table-right-joined">29.07</td>,
 <td class="new-table-right-joined">28.39</td>,
 <td class="new-table-right-joined">30.88</td>,
 <td class="new-table-right-joined">29.56</td>,
 <td class="new-table-right-joined">30.32</td>,
 <td class="new-table-right-joined">28.82</td>,
 <td class="new-table-right-joined">29.73</td>,
 <td class="new-table-right-joined">31.79</td>,
 <td class="new-table-right-joined">26.46</td>,
 <td class="new-table-right-joined">33.32</td>,
 <td class="new-table-right-joined">29.66</td>,
 <td class="new-table-right-joined">29.80</td>,
 <td class="new-table-right-joined">29.53</td>,
 <td class="new-table-right-joined">29.77</td>,
 <td class="new-table-right-joined">30.59</td>,
 <td class="new-table-right-joined">27.28</td>,
 <td class="new-table-right-joined">31.39</td>,
 <td class="new-table-right-joined">29.73</td>,
 <td class="new-table-right-joined">29.59</td>,
 <td class="new-table-right-joined">29.86</td>,
 <td class="new-table-right-joined">30.94</td>,
 <td class="new-table-right-joined">31.12</td>,
 <td class="new-table-right-joined">26.06</td>,
 <td class="new-table-right-joined">32.47</td>,
 <td class="new-table-right-joined">29.76</td>,
 <td class="new-table-right-joined">29.71</td>,
 <td class="new-table-right-joined">29.81</td>,
 <td class="new-table-right-joined">32.10</td>,
 <td class="new-table-right-joined">29.79</td>,
 <td class="new-table-right-joined">28.37</td>,
 <td class="new-table-right-joined">32.90</td>,
 <td class="new-table-right-joined">30.06</td>,
 <td class="new-table-right-joined">30.11</td>,
 <td class="new-table-right-joined">30.00</td>,
 <td class="new-table-right-joined">30.56</td>,
 <td class="new-table-right-joined">30.44</td>,
 <td class="new-table-right-joined">26.71</td>,
 <td class="new-table-right-joined">31.57</td>,
 <td class="new-table-right-joined">30.45</td>,
 <td class="new-table-right-joined">31.12</td>,
 <td class="new-table-right-joined">29.79</td>,
 <td class="new-table-right-joined">34.59</td>,
 <td class="new-table-right-joined">29.39</td>,
 <td class="new-table-right-joined">31.08</td>,
 <td class="new-table-right-joined">33.07</td>,
 <td class="new-table-right-joined">31.46</td>,
 <td class="new-table-right-joined">30.39</td>,
 <td class="new-table-right-joined">32.75</td>,
 <td class="new-table-right-joined">30.48</td>,
 <td class="new-table-right-joined">32.65</td>,
 <td class="new-table-right-joined">29.07</td>,
 <td class="new-table-right-joined">33.62</td>,
 <td class="new-table-right-joined cell-red-text">28.07</td>,
 <td class="new-table-right-joined cell-red-text">28.26</td>,
 <td class="new-table-right-joined cell-red-text">27.89</td>,
 <td class="new-table-right-joined cell-red-text">28.98</td>,
 <td class="new-table-right-joined cell-red-text">28.91</td>,
 <td class="new-table-right-joined cell-red-text">25.97</td>,
 <td class="new-table-right-joined cell-red-text">31.12</td>]

In [12]:
# find headers
headers = []
for i in offense_table.find_all('th'):
    title = i.text
    headers.append(title)
headers

['Team',
 'Sec/Play(total)',
 'Sec/Play(1st half)',
 'Sec/Play(2nd half)',
 'Sec/Play(lead 7+)',
 'Sec/Play(+/- 6)',
 'Sec/Play(trail 7+)',
 'Sec/Play(situationneutral)']

In [13]:
# create df for offensive table
df_offense_pace = pd.DataFrame(columns = headers)
df_offense_pace

Empty DataFrame
Columns: [Team, Sec/Play(total), Sec/Play(1st half), Sec/Play(2nd half), Sec/Play(lead 7+), Sec/Play(+/- 6), Sec/Play(trail 7+), Sec/Play(situationneutral)]
Index: []

In [14]:
# add rows to df (no class specifier, runs but with wrong columns)
for j in offense_table.find_all('tr')[1:]:
    row_data = j.find_all('td')
    row = [i.text for i in row_data]
    df_offense_pace.append(pd.Series(row, index=df_offense_pace.columns[:len(row)]), ignore_index=True)    
df_offense_pace

ValueError: Length of values (15) does not match length of index (8)

In [15]:
# add rows to df (class specifier returns no data)
for j in offense_table.find_all('tr')[1:]:
    row_data = j.find_all('td', class_='new-table-right-joined')
    row = [i.text for i in row_data]
    df_offense_pace.append(pd.Series(row, index=df_offense_pace.columns[:len(row)]), ignore_index=True)    
df_offense_pace

Empty DataFrame
Columns: [Team, Sec/Play(total), Sec/Play(1st half), Sec/Play(2nd half), Sec/Play(lead 7+), Sec/Play(+/- 6), Sec/Play(trail 7+), Sec/Play(situationneutral)]
Index: []